.container {
  min-height: 100vh;
  background: #fff;
}

/* 行为相关颜色 */
.line-primary,
.color-primary {
  color: $uni-color-primary;
}
.line-primary::after {
  border-color: $uni-color-primary;
}
.color-secondary {
  color: $uni-color-secondary;
}
.color-success {
  color: $uni-color-success;
}
.color-warning {
  color: $uni-color-warning;
}
.color-error {
  color: $uni-color-error;
}
.color-info {
  color: $uni-color-info;
}

/* 行为相关背景颜色 */
.bg-primary {
  background-color: $uni-color-primary;
}
.bg-secondary {
  background-color: $uni-color-secondary;
}
.bg-success {
  background-color: $uni-color-success;
}
.bg-warning {
  background-color: $uni-color-warning;
}
.bg-error {
  background-color: $uni-color-error;
}
.bg-info {
  background-color: $uni-color-info;
}

/* 文字基本颜色 */
.text-color {
  color: $uni-text-color; //基本色
}
.text-inverse {
  color: $uni-text-color-inverse; //反色
}
.text-grey {
  color: $uni-text-color-grey; //辅助灰色，如加载更多的提示信息
}
.text-placeholder {
  color: $uni-text-color-placeholder;
}
.text-disable {
  color: $uni-text-color-disable;
}

/* 文字尺寸 */
.text-sm {
  font-size: $uni-font-size-sm;
}
.text-base {
  font-size: $uni-font-size-base;
}
.text-lg {
  font-size: $uni-font-size-lg;
}

.cu-btn.bg-primary {
  color: #fff;
}

// 定义主色
switch.primary[checked] .wx-switch-input,
checkbox.primary[checked] .wx-checkbox-input,
radio.primary[checked] .wx-radio-input,
switch.primary.checked .uni-switch-input,
checkbox.primary.checked .uni-checkbox-input,
radio.primary.checked .uni-radio-input {
  background-color: $uni-color-primary !important;
  border-color: $uni-color-primary !important;
  color: #ffffff !important;
}
